.Button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font: var(--font-l);
  transition: 0.3s ease background-color, 0.3s ease color, 0.3s ease box-shadow;
  color: var(--primary-color);
}

.black {
  border: 1px solid black;
  padding: 15px;
  border-radius: 0 10px 10px 0;
  background-color: black;
}

.clear {
  border: 1px solid black;
  padding: 10px 20px;
  color: black;
  border-radius: 5px;
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
