.app.yellow {
  //text colors
  --primary-color: hsl(219, 100%, 13%); /* Насыщенный темно-синий */
  --secondary-color: hsl(269, 100%, 32%); /* Яркий бирюзовый */

  //bg colors
  --background-color: hsl(60, 85%, 69%); /* Светлый желто-кремовый */

  //input colors
  --input-field: hsl(180, 50%, 85%); /* Светлый бирюзовый для полей ввода */
}
